<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar" content="#FFE1C4">
    <meta name="theme-color" content="#FFE1C4">

    <title>VR Player</title>

    <link rel="apple-touch-icon" href="/assets/media/icons/icon-128x128.png">
    <link rel="icon" type="image/png" href="assets/media/icons/icon-128x128.png"/>
    <link rel="manifest" href="./manifest.webmanifest">
    <link rel="stylesheet" href="assets/css/XRstyle.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="assets/js/app.js"></script>
    <noscript>Please enable javascript</noscript>

  </head>
  <body>
      <p id="lookYaw" style="display: none;">0</p> {{!-- current view point --}}
      {{{body}}}
  </body>
</html>