<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VR Player</title>

    <script src="assets/js/jquery/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="assets/css/style.css">
    
</head>
<body>
    <p id="lookYaw" style="display: none;">0</p> {{!-- current view point --}}
    {{{body}}}
</body>
</html>