<div id="vr_button"></div>
<form>
  <label id="message" for="video_selection"></label>
  <input id="video_selection" type="file" accept="video/*"/>
</form>
<script src="assets/js/jquery/jquery-3.4.1.js"></script>
<script type="module" src="assets/js/webxr/webxr_basic.js"></script>
<link rel="stylesheet" href="assets/css/XRstyle.css">