<div id="vr_button"></div>
<div id="message" style="display: none;"></div>
<input type="file" accept="video/*"/>
<script src="assets/js/jquery/jquery-3.4.1.js"></script>
<script type="module" src="assets/js/webxr/webxr_basic.js"></script>
<link rel="stylesheet" href="assets/css/XRstyle.css">